#section-a {
    background: #eaeaea;
    color: #333;
    padding: 0px 60px 2em 60px;
}

#section-a .content-text {
    display: flex;
    flex-direction: row;
}

#section-a .content-text p:first-child {
    padding-right: 20px;
    width: 100%;
}

#section-a .content-text p:last-child {
    padding-left: 20px;
    width: 100%;
}

@media screen and (max-width: 768px) {
    #section-a .content-text {
        flex-direction: column;
    }
    #section-a .content-text p {
        margin: 10px;
    }
    #section-a .content-text p:first-child, #section-a .content-text p:last-child {
        padding: 0;
    }
}